.nav {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--navbg);
  color: var(--text-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.hoverUnderline {
  display: inline-block;
  position: relative;
}

.hoverUnderline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.5px;
  bottom: -5px;
  left: 0;
  background-color: #000;
  transition: width 0.15s ease-out;
}

.hoverUnderline:hover::after {
  width: 100%;
}

.nav button {
  color: var(--text-color);
}

.logoContainer {
  margin-right: auto;
}

.linksContainer {
  display: flex;
  font-size: 18px;
  word-spacing: 3px;
  gap: 2.5rem;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdownContainer {
  position: relative;
  cursor: pointer;
}

.dropdownToggle {
  color: inherit;
}

.hoverUnderline svg {
  margin-left: 4px;
}

.dropdownContent {
  display: block;
  position: absolute;
  background-color: var(--navbg);
  min-width: 225px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  animation: fadeInOut 0.3s ease;
}

.dropdownItem {
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ddd;
}

.dropdownItem:hover {
  background-color: #f1f1f1;
}

.dropdownContainer:hover .dropdownContent {
  opacity: 1;
  display: block;
}

.dropdownContent {
  display: none;
}

@media (max-width: 1000px) {
  .linksContainer {
    font-size: 16px;
    gap: 1.5rem;
  }
}

@media (max-width: 870px) {
  .linksContainer {
    display: none;
  }
  .dropdownContainer {
    display: none;
  }
  .logoContainer {
    margin: auto;
  }
}
