.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: var(--bg);
  position: relative;
}

.container {
  position: relative;
  width: 20rem; /* 320px smallest */
  max-width: 20rem;
  max-height: 22rem;
}

.section {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-out;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.section.visible {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s ease-in;
}

.section h2 {
  padding-bottom: 1rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.inputGroup {
  width: 100%;
  margin-bottom: 10px;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.inputGroup input,
.inputGroup select {
  width: 100%;
  min-height: 30px;
  border-radius: 5px;
  background-color: var(--tmf);
  border: none;
  color: var(--text-color);
  outline: none;
  font-size: medium;
  font-family: inherit;
  padding: 10px;
  margin-top: 0.75rem;
}

.label {
  font-weight: 400;
  color: var(--text-color);
}
