.page {
  display: flex;
  margin: auto;
  min-height: 100vh;
  max-width: 90%;
  flex-direction: column;
}

@media (min-width: 1920px) {
  .page {
    max-width: 1400px;
  }
}

@media (max-width: 930px) {
  .page {
    max-width: 100%;
  }
}
