.gridContainer {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  gap: 1rem;
  padding: 2rem;
}

.spc {
  margin-top: 4rem;
}

.header {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 1rem;
  border-top: 1px solid var(--tmf);
}

.gridItem:nth-child(6) {
  justify-content: center;
}

.gridItem p {
  font-weight: 300;
  padding-top: 0.8rem;
}

.readMoreButton {
  place-self: center;
  text-align: center;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  color: var(--bg);
}

.readMoreButton:hover {
  background-color: var(--btn-h1);
}

@media (max-width: 930px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .header {
    font-size: 2rem;
  }
}
