.main {
  display: flex;
  margin: 20% auto;
  height: 100%;
  max-width: 85%;
  flex-direction: column;
  align-items: center;
}

.desc {
  font-size: 20px;
  margin: auto;
  word-spacing: normal;
  margin-bottom: 0.5rem;
  line-height: 30px;
  margin-top: 20px;
  max-width: 540px;
}

.loadOverlay {
  display: flex;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  min-height: 1024px;
  background-color: var(--text-color);
  z-index: -2;
  transition: opacity 0.3s ease-out;
}

.videoContainer {
  display: flex;
  position: absolute;
  margin: auto;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  z-index: -1;
}

.imag {
  filter: brightness(0.5);
}

.heading {
  text-align: center;
  color: var(--bg);
}

.heading h1 {
  font-size: 2.5rem;
}

.main span {
  color: var(--btn-h2);
}

.ctaArea {
  margin: 2rem auto;
}

.ctaArea button {
  font-size: 1rem;
  margin-left: 0.5rem;
}

@media (max-width: 740px) {
  .videoContainer {
    min-height: auto;
  }
}

@media (max-width: 575px) {
  .main {
    margin: 10% auto;
  }
  .ctaArea {
    margin: 1rem auto;
  }
  .videoContainer {
    top: 100px;
  }
  .videoContainer video {
    width: 512px;
    height: 512px;
  }
}

@media (max-width: 300px) {
  .ctaArea {
    text-align: center;
  }
  .ctaArea button {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}
