.page {
  display: flex;
  margin: auto;
  align-items: center;
  min-height: 100vh;
  max-width: 1130px;
  flex-direction: column;
  margin-top: 150px;
}
.hiwspc {
  margin: 4rem;
}

.header {
  display: flex;
  flex-direction: column;
  height: 30rem;
  align-items: center;
  background-image: var(--grad3);
  font-size: 1.25rem;
  color: var(--btn-bg2);
  margin-top: 100px;
  margin-bottom: 12rem;
}

.hiwN {
  width: 36px;
  height: 36px;
  min-height: 36px;
  min-width: 36px;
  color: #69813a;
  background-color: #fff;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.hwH {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.spc {
  margin-bottom: 3rem;
}

.vc {
  display: flex;
  width: auto;
  height: auto;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: var(--border-rad);
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 640px;
  max-height: 350px;
}

.imag {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 350px;
  border-radius: var(--border-rad);
}

.smallVc {
  display: flex;
  width: auto;
  height: auto;
  border-radius: var(--border-rad);
  width: 100%;
  min-height: 15rem;
  overflow: hidden;
}

.header h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  min-width: max-content;
}

.header p {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  max-width: 512px;
}

.cards {
  margin-top: 2rem;
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: relative;
}

.descriptionHeader {
  font-size: 1.5rem;
  font-weight: 500;
}

.description {
  width: 100%;
  text-align: left;
  margin-bottom: auto;
}

.description p {
  line-height: 1.6rem;
  font-size: 1rem;
  font-weight: 300;
}

.card {
  width: 95%;
  margin: auto;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  background-color: #f6f6f6;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2.5rem 2rem 2rem;
  display: flex;
}

@media (min-width: 1920px) {
  .page {
    max-width: 1130px;
  }
}

@media (max-width: 930px) {
  .page {
    max-width: 90%;
  }
}

@media screen and (max-width: 930px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .header {
    height: 27rem;
  }

  .header h1 {
    font-size: 1.5em;
    padding-bottom: 1rem;
  }

  .header p {
    font-size: 1.1rem;
    max-width: 360px;
  }

  .card {
    flex-direction: column;
    width: 100%;
  }

  .imag {
    order: -1;
  }
}

@media (max-width: 550px) {
  .header {
    height: 23rem;
  }
  .descriptionHeader {
    font-size: 1.2rem;
  }
}
@media (max-width: 420px) {
  .header {
    height: 18rem;
  }
}
