.gutter {
  padding: 2rem;
  min-width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; /* Ensure the rows are auto-sized */
  gap: 2rem;
}

.vc {
  width: 100%;
  height: auto;
  border-radius: var(--border-rad);
  border: 2px solid var(--bg);
}

.description {
  display: flex;
  max-height: 512px;
  flex-direction: column;
  justify-content: space-between;
}

.description h2 {
  word-spacing: 4px;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}

.description p {
  word-spacing: 4px;
  color: var(--eld);
  flex-grow: 1; /* Allow the paragraph to grow and take up available space */
}

.protections {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
}

.protections > div {
  display: flex;
  gap: 0.25rem;
  margin: 0.25rem;
  align-items: center;
}

.protections svg {
  margin-right: 0.5rem;
}

.protections span {
  white-space: nowrap;
}

@media (max-width: 1230px) {
  .cont {
    grid-template-columns: 1fr;
  }
  .description h2 {
    font-size: 2rem;
  }
  .description p {
    font-size: 1rem; /* Scale down the font size for the paragraph */
  }
}
