.page {
  display: flex;
  margin: auto;
  align-items: center;
  min-height: 100vh;
  max-width: 1130px;
  flex-direction: column;
  margin-top: 100px;
}

.hiwspc {
  margin: 4rem;
}

.vc {
  display: flex;
  width: auto;
  height: auto;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: var(--border-rad);
  display: block;
  object-fit: cover;
  width: 100%;
  max-width: 640px;
  max-height: 350px;
}

.header h1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  min-width: max-content;
}

.header p {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  max-width: 512px;
}

.spc {
  margin-bottom: 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  height: 35rem;
  align-items: center;
  background-image: var(--grad3);
  font-size: 1.25rem;
  color: var(--btn-bg2);
  margin-top: 100px;
  margin-bottom: 12rem;
}

@media (min-width: 1920px) {
  .page {
    max-width: 1400px;
  }
}

@media (max-width: 930px) {
  .page {
    max-width: 90%;
  }
}

@media screen and (max-width: 930px) {
  .header {
    height: 27rem;
  }

  .header h1 {
    font-size: 1.5em;
    padding-bottom: 1rem;
  }

  .header p {
    font-size: 1.1rem;
    max-width: 360px;
  }
}

@media (max-width: 550px) {
  .header {
    height: 23rem;
  }
}
@media (max-width: 420px) {
  .header {
    height: 18rem;
  }
}
