.masterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  min-height: 500px;
  max-width: 1600px;
  margin-left: 2rem;
  margin-right: 2rem;
  background-image: url("/brbg.svg");
  border: 4px solid var(--tmg);
  border-radius: var(--border-rad);
  padding: 1rem;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.left {
  padding: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}

.left h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.left p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.vc {
  width: 100%;
  height: auto;
  border-radius: var(--border-rad);
}

@media (max-width: 1130px) {
  .masterContainer {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .masterContainer {
    min-height: 720px;
  }
  .left {
    padding-bottom: 0;
  }
  .left h2 {
    font-size: 2rem;
  }
}
