.cont {
  height: auto;
  width: 100%;
  color: var(--text-color);
  background-color: var(--bg);
  margin-bottom: 1rem;
  padding: 2rem;
}

.cont h1 {
  margin: 0 0 2rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  color: var(--text-color);
  line-height: 1;
}

.top {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.profileContainer {
  display: block;
}

.btmn {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  grid-row: 3;
  justify-self: start;
  align-self: end;
  align-items: center;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  min-width: max-content;
}

.circularProfile {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.btmnp {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  color: var(--eld);
}

.sep {
  height: 25px;
  width: 2px;
  max-width: 2px;
  margin: 1rem;
  background-color: var(--tmf);
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: stretch;
  background-color: #ffffff;
  margin-bottom: 1rem;
  width: 100%;
  height: 15rem;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px var(--bxs);
}

.cgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 1224px) {
  .cgrid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 930px) {
  .circularProfile {
    scale: 0.9;
    margin-right: 0.5rem;
  }
  .btmnp {
    font-size: 0.9rem;
  }
  .btmn {
    padding-bottom: 0.5rem;
  }
  .sep {
    margin: 0.5rem;
  }
}
