.cont {
  height: auto;
  width: 100%;
  background-color: var(--bg);
  margin-bottom: 1rem;
  padding: 2rem;
}

.cont h1 {
  margin: 0 0 2rem;
  letter-spacing: 2px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  color: var(--text-color);
  font-size: 32px;
  line-height: 32px;
}

.card {
  background-color: #ffffff;
  margin-bottom: 1rem;
  width: 100%;
  height: 15rem;
  border-radius: 15px;
  box-shadow: 0px 0px 2px 4px #00000015;
}

.card h2 {
  margin: 1rem;
  color: var(--text-color);
}

.card p {
  margin: 1rem;
  color: var(--text-color);
}

.cgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .cgrid {
    grid-template-columns: 1fr;
  }
}
